<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dhaval2404.callrecorder.callrecord">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <receiver android:name=".PhoneCallStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PhoneCallScreeningService"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service android:name=".service.PhoneCallRecordService" />

        <service
            android:name=".service.ContactSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>
